<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Quest Gamification - Home</title>
    <div th:replace="~{layout :: head_dependencies}"></div>
</head>
<body>
    <div th:replace="~{layout :: navbar}"></div>
    <div class="container mt-5 fade-in">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <div class="page-header">
                    <h1 class="display-4 mb-4">Quest Gamification</h1>
                    <p class="lead">Turn your real-life tasks into daily and weekly quests. Track progress, earn XP, level up, and unlock rewards!</p>
                </div>
                <div class="mt-5" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}" class="btn btn-primary btn-lg me-3">Get Started</a>
                    <a th:href="@{/login}" class="btn btn-outline-primary btn-lg">Login</a>
                </div>
                <div class="mt-5" sec:authorize="isAuthenticated()">
                    <a th:href="@{/dashboard}" class="btn btn-primary btn-lg">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout :: scripts}"></div>
</body>
</html>

